# Ignore compiled Python files
*.pyc

# Ignore virtual environment
venv/

# Ignore IDE files
.vscode/
.idea/

# Ignore logs
*.log

# Ignore cache and temporary files
__pycache__/
*.swp
*.swo
*.bak

# Ignore database files
*.db

# Ignore package build files
*.egg-info/
dist/
build/

# Ignore system files
.DS_Store
Thumbs.db
./frontend/pnpm-lock.yaml

# Ignore environment variables file
.env