.recommend{
    width: 90%;
    max-width: 30rem;
    height: 25rem;
    background-color: white;
    position: absolute;
    z-index: 100;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 0.7rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;

    .outing{
        margin: auto 1rem;
        padding: 1rem;
        background: rgb(235, 235, 235);
        border-radius: 0.7rem;
    }
}