.sidebar{
    border-right: solid 0.2rem gray;
    height: 100vh;
    max-width: 30rem;
    width: 100%;
    position: relative;
    transition: 0.25s;

    .close{
        position: absolute;
        right: 1rem;
        top: 1rem;
        font-size: 2.4rem;
        cursor: pointer;
        @media screen and (min-width: 1000px){
            display: none;
        }
    }
}

.hide{
    transform: translateX(-100%);
}